@use '../styles/variables' as *;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$color-bg};
    --foreground: #{$color-fg};
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: $font-sans;
}
